<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
</head>
<body>
<h1>게시글 목록</h1>
<div>
    <a href="/posts/create">새 게시글 작성</a>
</div>
<div th:if="${posts.empty}">
    <p>게시글이 없습니다.</p>
</div>
<div th:unless="${posts.empty}">
    <ul>
        <li th:each="post : ${posts}">
            <span th:text="${post.title}">게시글 제목</span>
            <a th:href="@{/posts/{id}(id=${post.id})}">상세 보기</a>
        </li>
    </ul>
</div>
<div>
    <a href="/chatting">채팅으로 이동</a>
</div>
</body>
</html>
